.wp-block-clanspress-team-cover {
	position: relative;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	overflow: clip;
	box-sizing: border-box;

	&.is-position-top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}
	&.is-position-top-center {
		align-items: flex-start;
		justify-content: center;
	}
	&.is-position-top-right {
		align-items: flex-start;
		justify-content: flex-end;
	}
	&.is-position-center-left {
		align-items: center;
		justify-content: flex-start;
	}
	&.is-position-center-center {
		align-items: center;
		justify-content: center;
	}
	&.is-position-center-right {
		align-items: center;
		justify-content: flex-end;
	}
	&.is-position-bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	}
	&.is-position-bottom-center {
		align-items: flex-end;
		justify-content: center;
	}
	&.is-position-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.team-cover__background--placeholder {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
	}

	.team-cover__inner-container {
		position: relative;
		z-index: 1;
		width: 100%;
		min-height: 80px;
		box-sizing: border-box;
	}
}
