<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"clanspress-team-profile-header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Manage team</h2>
	<!-- /wp:heading -->
	<!-- wp:clanspress/team-manage /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
