<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Players directory"},"layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"1.5rem"}}} -->
<div class="wp-block-group">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Players</h1>
	<!-- /wp:heading -->

	<!-- wp:shortcode -->
	[clanspress_players_directory]
	<!-- /wp:shortcode -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
